html, body {
    background-color: rgb(25, 52, 65);
}

#container{
    width:1024px;
    margin-left: auto;
    margin-right: auto;
}

header {
    position: relative;
    color: white;
    font-size: 1.5em;
    width:70%;
    margin-left: auto;
    margin-right: auto;
    
 
}

#underline {
    font-size: 0.4em;
    
}

#mainCategories {
    position: relative;
    left: 20%;
    top: 300px;
    width: 10%;
    float: left;
    border-right: 1px solid white;
    overflow: hidden;
    color: white;
    padding: 10px;
    margin-top: 100px;
    
}


h2{
    margin-bottom: 0px;
    margin-top: 5px;

    
}


/*@media screen and (max-width: 1200px) {
	#container {
		width: 100%;
		margin: 0px auto;
		padding: 15px;
	}

	#header, #sideNote {
		height: auto;
		width: 100%;
		margin: 15px 0 0 0;
	}

}*/



/*"<img src=" + list[i].tweets_src + "></img>*/