html, body {
    background-color: rgb(25, 52, 65);
}

#container{
    width: 1024px;
    margin-left: auto;
    margin-right: auto;
}

header {
    position: relative;
    color: white;
    font-size: 1.5em;
    border-left: 1px solid white;
    width: 70%;
    padding-left: 10px;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Arno pro', serif;
    
 
}

#underline {
    position: relative;
    top: -20px;
    font-size: 0.4em;
    
}

#mainCategories {
    position: relative;
    width: 15%;
    float: left;
    border-right: 1px solid white;
    overflow: hidden;
    color: white;
    padding: 35px;
    margin-top: 30px;
    font-family: 'Noto Sans', sans-serif;

    
}


h2{
    margin-bottom: 0px;
    margin-top: 5px;
    font-family: 'Noto Sans', sans-serif;

    
}

h3{
    font-weight: 100;
}

#infoSection{
    float: left;
    height: 300px;
    border-right: 1px solid white;
    margin-top: 30px;
    width: 55%;
    color: white;
    font-family: sans-serif;
    font-size: 0.7em;
    padding-left: 30px;
    padding-right: 30px;
}

#sideNote{
    position: relative;
    width: 20%;
    left: 900px;
    top: -250px;
    font-size: 0.8em;
    color: white;
    opacity: 0.2;
}

img{
    position: absolute;
    left: 450px;
    top: 490px;
    width: 400px;
    height: 200px;
    
}